* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'cairo', sans-serif;
}
::selection {
  color: white;
  background: #72b70f;
}
.container {
  padding: 0 400px;
}
/* Top Header */
.header .top-header{
  background-color: #111;
}
.header .top-header ul {
  display: flex;
  align-items: center;
  justify-content: start;
}
.header .top-header ul li {
  padding: 7px 15px;
}
.header .top-header ul li a {
  color: #999999;
  font-size: 11px;
  transition: .2s;
}
.header .top-header ul li a:hover {
  color: white;
}
.header .top-header ul li:first-child {
  background-color: #72b70f;
  cursor: pointer;
}
.header .top-header ul li:first-child a{
  color: white;
}
.header .top-header select {
  background-color: #111;
  color: white;
  border: 2px solid #72b70f;
  border-radius: 5px;
}
.header .top-header select:focus {
  outline: none;
}
/* Top Header */
/* Main Header */
.header .main-header {
  background: url("images/bgmain.png");
}
.header .main-header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 400px;
}
.header .main-header .container .lists ul{
  display: flex;
  gap: 40px;
}
.header .main-header .container .lists ul li a{
  color: #72b70f;
  font-size: 20px;
  transition: .2s;
}
.header .main-header .container .lists ul li a:hover {
  color: black;
}
/* Main Header */

/* Section */

section .main-section {
  position: relative;
}
section .main-section .main-section-background {
  height: 500px;
}
section .main-section .main-section-background img {
  height: 500px;
  width: 100%;
  position: relative;
  object-fit: cover;
  opacity: 0.5;
}
section .main-section .main-section-background::before {
  content: "";
  width: 100%;
  height: 500px;
  position: absolute;
  background-color: black;
}
section .main-section .container {
  background-image: url("images/bginside.jpg");
}
section .main-section .container .main-section-ads {
  position: absolute;
  top: 0;
  padding-top: 40px;
  max-width: 500px;
}
section .main-section .container .main-section-ads h3 {
  font-size: 35px;
  color: white;
  margin-bottom: 10px;
  cursor: pointer;
  transition: .2s;
}
section .main-section .container .main-section-ads h3:hover {
  color: #72b70f;
}
section .main-section .container .main-section-ads span {
  font-size: 22px;
  color: white;
}
section .main-section .container .main-section-ads span i {
  margin-right: 10px;
  margin-bottom: 30px;
  font-size: 25px;
}
section .main-section .container .main-section-ads p {
  color: white;
  margin-bottom: 30px;
  display: block;
}
section .main-section .container .main-section-ads button {
  border: none;
  background-color: #72b70f;
  color: white;
  cursor: pointer;
  transition: .2s;
  padding: 15px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
}
section .main-section .sliding-circles {
  position: absolute;
  bottom: 185px;
  left: 50%;
  transform: translate(-50%, -50%);
}
section .main-section .sliding-circles i {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.358);
  padding: 2px;
}
section .buy-sale {
  padding: 10px 0;
  display: flex;
  align-items: center;
  height: 190px;
  gap: 100px;
}
section .buy-sale .search-side {
  width: 50%;
}
section .buy-sale .search-side h3{
  color: white;
  font-weight: 500;
  font-size: 23px;
  margin-bottom: 10px;
}
section .buy-sale .search-side input {
  width: 100%;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  margin-bottom: 15px;
  transition: .2s;
}
section .buy-sale .search-side input::placeholder {
  color: #909090;
}
section .buy-sale .search-side input:focus {
  outline: none;
  box-shadow: #1a9554 0px 1px 7px 0px;
}
section .buy-sale .search-side .selectors {
  display: flex;
  align-items: center;
  gap: 30px;
}
section .buy-sale .search-side .selectors select {
  height: 34px;
  border-radius: 3px;
  color: rgb(49, 49, 49);
  width: 116.25px;
}
section .buy-sale .search-side .selectors button {
  border: none;
  height: 34px;
  min-width: 80px;
  width: 116.25px;
  background-color: #72b70f;
  color: white;
  cursor: pointer;
  transition: .2s;
  border-radius: 3px;
}
section .buy-sale .search-side .selectors button:hover {
  background-color: #1a9554;
}
section .buy-sale .login-side span{
  color: white;
  margin-bottom: 30px;
  display: block;
}
section .buy-sale .login-side button {
  background-color: #333;
  border: 4px solid white;
  border-radius: 30px;
  transition: .2s;
  cursor: pointer;
  padding: 4px 22px;
  color: white;
  font-size: 18px;
}
section .buy-sale .login-side button:hover {
  background-color: #5bc0de;
  border-color: #348fab;
}

/* Featured */
section .featured {
  padding-top: 50px;
  padding-bottom: 100px;
  background-image: url("images/bgmain.png");
  position: relative;
}
section .featured .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section .featured .head h3{
  font-size: 32px;
  font-weight: 400;
}
section .featured .head a {
  color: #72b70f;
  transition: .2s;
  font-size: 13px;
}
section .featured .head a:hover {
  color: #1a9554;
  text-decoration: underline;
}
section .featured .houses{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 80px;
  flex-wrap: wrap;
  width: 120%;
}
section .featured .houses .house-box {
  background-color: white;
  padding: 10px;
  text-align: center;
  border-radius: 3px;
}
section .featured .houses .house-box .img {
  position: relative;
}
section .featured .houses .house-box .img img{
  width: 200px;
}
section .featured .houses .house-box .img span {
  background-color: #71b70fbb;
  position: absolute;
  bottom: 7px;
  right: 0;
  color: white;
  font-size: 12px;
  width: 100%;
  text-align: end;
  padding: 2px 3px;
}
section .featured .houses .house-box .box-title h3 {
  color: #72b70f;
  font-weight: 400;
  border-bottom: 1px solid rgb(215, 215, 215);
  padding-bottom: 5px;
  cursor: pointer;
}
section .featured .houses .house-box .box-title h3:hover {
  text-decoration: underline;
  color: #111;
}
section .featured .houses .house-box .box-price {
  border-bottom: 1px solid rgb(215, 215, 215);
  padding: 5px 0;
}
section .featured .houses .house-box .box-price span {
  font-size: 14px;
  color: rgb(71, 71, 71);
}
section .featured .houses .house-box .house-rooms {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  margin: 10px 0 30px 0;
}
section .featured .houses .house-box .house-rooms .room {
  border-radius: 50%;
  background-color: rgb(61, 61, 61);
  font-size: 13px;
  color: white;
  cursor: crosshair;
  width: 25px;
  padding: 2px 0;
  text-align: center;
  transition: .2s;
}
section .featured .houses .house-box .house-rooms .room:hover {
  background-color: #72b70f;
}
section .featured .houses .house-box .button button {
  border: none;
  border-radius: 20px;
  background-color: #64a30a;
  color: white;
  cursor: pointer;
  transition: .2s;
  width: 100%;
  height: 30px;
  font-size: 13px;
}
section .featured .houses .house-box .button button:hover {
  background-color: #428bca;
}
section .featured .sliding {
  position: absolute;
  bottom: 40%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 15px;
  color: #bbc4c1;
  cursor: pointer;
}
section .featured .sliding i {
  transition: .1s;
}
section .featured .sliding i:hover {
  color: #869791;
}
section .featured .sliding i:first-of-type {
  color: #869791;
}
section .featured .bottom-section {
  display: flex;
  width: 100%;
  gap: 150px;
}
section .featured .bottom-section .about {
  width: 50%;
  height: 50%;
}
section .featured .bottom-section .about h3 {
  font-size: 23px;
  font-weight: 400;
  margin-bottom: 15px;
}
section .featured .bottom-section .about p {
  font-size: 13px;
  color: rgb(99, 99, 99);
}
section .featured .bottom-section .about a {
  color: #72b70f;
  font-size: 12px;
}
section .featured .bottom-section .about a:hover {
  color: #111;
  text-decoration: underline;
}
section .featured .recommended {
  width: 50%;
}
section .featured .recommended .recommended-head h3{
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 10px;
}
section .featured .recommended .recommended-box {
  display: flex;
  gap: 30px;
}
section .featured .recommended .recommended-box .img img {
  width: 140px;
}
section .featured .recommended .recommended-box h4 {
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  color: #72b70f;
  margin-bottom: 5px;
}
section .featured .recommended .recommended-box h4:hover {
  color: #111;
  text-decoration: underline;
}
section .featured .recommended .recommended-box span {
  display: block;
  font-size: 13px;
  margin-bottom: 10px;
}
section .featured .recommended .recommended-box button {
  background-color: #111;
  border: none;
  padding: 2px 10px;
  font-size: 11px;
  color: white;
  cursor: pointer;
  transition: .2s;
}
section .featured .recommended .recommended-box button:hover {
  background-color: #64a30a;
}
section .featured .recommended .recommended-slider i{
  font-size: 10px;
  color: rgb(128, 128, 128);
  cursor: pointer;
  transition: .2s;
}
section .featured .recommended .recommended-slider i:hover {
  color: rgb(0, 0, 0);
}
/* Featured */
/* Section */

/* Footer */
footer {
  background: url("images/bg.jpg");
  padding: 10px 0;
  height: 300px;
  position: relative;
}
footer .container .columns{
  display: flex;
  gap: 30px;
}
footer .container .columns .column {
  width: 100%;
}
footer .container .columns .column .column-head h3 {
  font-size: 17px;
  font-weight: 400;
  color: white;
  padding: 5px 0;
  border-bottom: 2px solid #111;
}
footer .container .columns .column .column-lists {
  padding-top: 10px;
} 
footer .container .columns .column .column-lists ul li a{
  font-size: 12px;
  color: #72b70f;
  transition: .2s;
}
footer .container .columns .column .column-lists ul li a:hover {
  color: white;
}
footer .container .columns .column.news .column-content {
  padding-top: 10px;
  color: rgb(161, 161, 161);
}
footer .container .columns .column.news .column-content p {
  font-size: 12px;
  line-height: 1.7;
  margin-bottom: 30px;
}
footer .container .columns .column.news .column-content input {
  display: block;
  width: 100%;
  padding: 5px 10px;
  border-radius: 3px;
  border: none;
  margin-bottom: 20px;
}
footer .container .columns .column.news .column-content input::placeholder {
  color: rgb(172, 172, 172);
}
footer .container .columns .column.news .column-content input:focus {
  outline: none;
  box-shadow: #1a9554 0px 1px 7px 0px;
}
footer .container .columns .column.news .column-content button {
  width: 100%;
  padding: 8px 15px;
  border-radius: 3px;
  border: none;
  color: white;
  background-color: #72b70f;
  font-size: 14px;
  cursor: pointer;
  transition: .2s;
}
footer .container .columns .column.news .column-content button:hover {
  background-color: #428bca;
}
footer .container .columns .column.follow .icons {
  padding-top: 10px;
  display: flex;
  gap: 10px;
}
footer .container .columns .column.follow .icons i{
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.813);
  color: rgb(51, 51, 51);
  width: 40px;
  text-align: center;
  font-size: 22px;
  cursor: pointer;
  padding: 10px 0;
}
footer .container .columns .column.contact .column-content{
  color: #999;
  padding-top: 10px;
  font-size: 13px;
}
footer .container .columns .column.contact .column-content .column-content-head {
  margin-bottom: 5px;
}
footer .container .columns .column.contact .column-content .contact-information span{
  display: block;
  padding-bottom: 2px;
}
footer .container h4 {
  position: absolute;
  bottom: 0;
  color: #999;
  font-weight: 400;
  font-size: 13px;
  padding-bottom: 5px;
}
/* Footer */

/* Media */
@media(max-width: 1565px) {
  .main-header img {
    display: none;
  }
  .header .main-header .container {
    justify-content: center;
  }
  .container {
    padding: 0;
  }
  .header .top-header ul {
    justify-content: center;
  }
  section .main-section .container .main-section-ads {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  section .main-section .container .main-section-ads {
    max-width: 500px;
  }
  section .buy-sale {
    text-align: start;
  }
  section .buy-sale .search-side .selectors select {
    width: 100%;
  }
  section .buy-sale .search-side .selectors button {
    width: 100%;
  }
  section .featured .container {
    padding-left: 200px;
  }
  section .featured .houses{
    width: 100%;
    margin-top: 30px;
  }
  footer .container {
    padding: 0 20px;
  }
}
@media(max-width: 1432px) {
  section .featured .container {
    padding-left: 100px;
  }
}
@media(max-width: 1356px) {
  section .featured .container {
    padding-left: 0;
  }
  section .featured .head {
    justify-content: space-between;
  }
  section .featured .houses {
    padding-left: 80px;
  }
}
@media(max-width: 1240px) {
  section .featured .houses {
    padding-left: 0;
  }
}
@media(max-width: 1236px) {
  section .featured .houses {
    padding-left: 40px;
  }
}
@media(max-width: 1155px) {
  section .featured .houses {
    padding-left: 0;
  }
}
@media(max-width: 1191px) {
  section .featured .houses {
    justify-content: center;
  }
}
@media(max-width: 768px) {
  section .main-section .container .main-section-ads span {
    display: block;
    margin-bottom: 20px;
  }
  footer .container .columns {
    display: block;
  }
  footer {
    height: 630px;
  }
  .main-header img {
    display: none;
  }
  .header .main-header .container {
    padding: 10px 0;
  }
  .container {
    padding: 0;
  }
  section .main-section .container .main-section-ads {
    width: 400px;
  }
  section .main-section .container .main-section-ads p{
    display: none;
  }
  section .buy-sale {
    display: block;
    text-align: start;
    padding: 20px;
  }
  section .buy-sale .search-side .selectors {
    display: block;
  }
  section .buy-sale .search-side .selectors select {
    width: 200%;
    margin-bottom: 15px;
  }
  section .buy-sale .search-side .selectors button {
    width: 200%;
    margin-bottom: 15px;
  }
  section .main-section .container {
    height: 420px;
  }
  section .buy-sale .login-side span{
    margin-bottom: 10px;
  }
  section .buy-sale .search-side input {
    width: 200%;
  }
  section .main-section .sliding-circles {
    bottom: 45%;
  }
  section .featured {
    padding: 10px;
  }
  section .featured .houses{
    justify-content: center;
    padding-left: 0;
  }
  section .featured .bottom-section {
    display: block;
  }
  section .featured .bottom-section .recommended {
    width: 100%;
  }
  section .featured .bottom-section .recommended-box {
    display: block;
  }
  section .featured .bottom-section .recommended-box .img img{
    width: 100%;
  }
  section .featured .bottom-section .about {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media(max-width: 819px) {
  .header .main-header .container {
    padding: 15px 300px;
  }
}
@media(max-width: 799px) {
  .header .main-header .container {
    padding: 15px 0;
  }
}
@media(max-width: 600px) {
  section .featured .houses .house-box {
    width: 100%;
  }
  section .featured .houses .house-box .img img {
    width: 100%;
  }
}
@media(max-width: 500px) {
  section .main-section .container .main-section-ads {
    width: 300px;
  }
  section .main-section .container .main-section-ads h3 {
    font-size: 28px;
  }
  section .main-section .container .main-section-ads span {
    font-size: 15px;
  }
  section .main-section .container {
    height: 500px;
  }
  section .main-section .sliding-circles {
    bottom: 50%;
  }
}
@media(max-width: 429px) {
  .header .top-header ul li {
    padding: 10px 7px;
  }
  .header .top-header ul {
    justify-content: center;
  }
}
@media(max-width: 545px) {
  section .featured .houses{
    justify-content: center;
    padding-left: 0;
  }
}
@media(max-width: 405px) {
  section .main-section .container .main-section-ads h3 {
    font-size: 28px;
  }
  section .main-section .container .main-section-ads span {
    font-size: 15px;
  }
}
@media(max-width: 350px) {
  .header .top-header ul li:last-of-type {
    padding: 0;
  }
  .header .top-header ul li:last-of-type select{
    width: 43px;
    text-align: center;
  }
}
/* Media */